<html>
    <head>
        <title>Blood For Life :: Find Acceptors</title>
    </head>

    <body>
        {% include "navbar.html" %}
        <h1>Find Acceptors</h1><br><br><br>
        <div>
            {% for data in acptr_list %}
                <h3>Name of Acceptor : {{ data.name }}</h3>
                <h5>Joined On : {{data.date_added}}</h5>
                <h3>Blood Group : {{data.group}}</h3>
                <h5>Location : {{data.location}}</h5>
                <h5>Contact Number : {{data.contact}}</h5>
                <br><br>

            {% endfor %}
        </div>
    </body>
</html>