{% load static%}
<html>
    <head>
        <title>Acceptor Registration Portal</title>
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" >
        <link rel="stylesheet" href="{% static 'bootstrap.css' %}" >
    </head>
    <body>
        <h1>Acceptor Registration portal</h1>
        <div>
            <header>
                <!-- Nav BAr-->
                    <div>
                            <nav class="nav nav-pills navbar navbar-dark bg-dark ">
                                    <a class="nav-item nav-link active btn btn-danger" type="button" href="">Home</a>
                                    <a class="nav-item nav-link btn btn-danger" href="/dnrreg/" type="button">Donor Registration</a>
                                    <a class="nav-item nav-link active btn btn-danger" href="acptrreg/" type="button">Patient Registration</a>
                                    <a class="nav-item nav-link btn btn-danger  " href="#" type="button">Find Donors</a>
                            </nav>
                    </div>
            </header>

        </div>
        <div>
            <!-- FORM  -->
            <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name">
                  </div>
                  {{ form.name}}
                </div>

                <div class="form-row col-md-6">
                    <label for="bloodgroup">Blood Group</label>
                    <select id="group" class="form-control">
                      <option selected>Choose...</option>
                      <option>A +ve</option>
                      <option>A -ve</option>
                      <option>B +ve</option>
                      <option>B -ve</option>
                      <option>O +ve</option>
                      <option>O -ve</option>
                      <option>AB +ve</option>
                      <option>AB -ve</option>
                    </select>

                    {{form.group}}
                </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="location">Location</label>
                      <input type="text" class="form-control" id="location" placeholder="Location">
                    </div>
                    {{form.location}}
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="contact">Contact Number</label>
                      <input type="number" class="form-control" id="contact" placeholder="number">
                    </div>
                    {{form.contact}}
                  </div>


                <button type="submit" class="btn btn-primary">Sign in</button>
              </form>
        </div>    
    </body>
</html>